
//
// VARIABLES
//

// Colors
$blue: #4183C4;
$theme: #1f2839;
$brown: #A2482E;

// Grays
$black: #000;
$darkerGray: #222;
$darkGray: #333;
$gray: #666;
$lightGray: #eee;
$white: #fff;
$orange: rgb(237,125,49);
$blue: rgb(91,155,213);

// Font stacks
$helvetica: Helvetica, Arial, sans-serif;
$helveticaNeue: "Helvetica Neue", Helvetica, Arial, sans-serif;
$georgia: Georgia, serif;
$ComicSans: Comic Sans MS;
$Lobster: "Lobster Two", cursive;
$Roboto: "Roboto", sans-serif;

// Mobile breakpoints
@mixin mobile {
  @media screen and (max-width: 640px) {
    @content;
  }
}
